@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: #fff;
  color: #e5e5e5;
  color-scheme: dark;
  min-height: 100vh;
}

@media screen and (prefers-color-scheme: dark) {
  :root {
    background: radial-gradient(75% 35% at 50% 95%, rgba(220, 20, 60, 0.6) 20%, rgba(80, 82, 98, 0) 90%),
      linear-gradient(rgba(220, 20, 60, 0) 0%, rgb(21 19 19) 80%);
  }
}